<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">

    <style>
        /* Стили для спиннера */
        .spinner-overlay {
            display: none; /* Initially hidden */
            position: fixed; /* Fixed position to stay in view */
            top: 0; /* Align to the top of the page */
            left: 0; /* Align to the left of the page */
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
            z-index: 9999; /* High z-index to ensure it is above all other content */
            /* display: flex; Use flexbox to center content */
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
        }
        .spinner {
            width: 50px;
            height: 50px;
            border: 5px solid #f3f3f3;
            border-top: 5px solid #3498db;
            border-radius: 50%;
            animation: spin 1s linear infinite;
            /* display: none; */
            /* position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); */
        }
    
        @keyframes spin {
            0% {transform: rotate(0deg);}
            100% {transform: rotate(360deg);}
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top" id="menu">
    <a class="navbar-brand" href="/">Home</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse"
            type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<header class="header_route_detail">
    <div class="overlay_route_detail"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-between">
                <div class="description text-center">
                    <h3>
                        <p>
                            Национальный парк
                        </p>
                        ТАГАНАЙ
                    </h3>
                    <div class="preview2">Моё путешествие</div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                {% block content %}
                    <!-- Спиннер -->
                    <div id="spinner" class="spinner"></div>
                {% endblock %}
            </div>
        </div>
    </div>
</header>

<!-- Posts section -->
<div class="gener" id="gener">
    <div class="parameters-container container">
        <div class="map-text">
            <div id="map" style="width: 600px; height: 400px"></div>
            <div class="text-center">
                <p class="select-points-text">Выберите кликом желаемые точки</p>
            </div>
        </div>
        
        <div class="generator text-center" id="generator">
                    <h1 class="title">Введите параметры похода</h1>
                    <form>
                        {% csrf_token %}
                        <label for="level_of_hardness">Уровень сложности:</label>
                        <select class="form-select" name="level_of_hardness" id="level_of_hardness">
                            <option selected disabled hidden>Выберите уровень сложности</option>
                            <option value="Лёгкий">Лёгкий</option>
                            <option value="Средний">Средний</option>
                            <option value="Сложный">Сложный</option>
                            <option value="Выживание">Выживание</option>
                        </select><br>
                        <label for="duration">Продолжительность в днях:</label>
                        <select class="form-select" name="duration" id="duration">
                            <option selected disabled hidden>Выберите продолжительность</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select><br>
                        <label for="participants">Количество участников:</label>
                        <input type="number" class="form-control"
                               name="participants"  min="1" max="30"
                               id="number_participants"
                         placeholder="Введите количество участников">
                        <br>
                        <label for="season">Сезон:</label>
                        <select class="form-select" name="season" id="season">
                            <option selected disabled hidden>Выберите сезон</option>
                            <option value="Весна">Весна</option>
                            <option value="Лето">Лето</option>
                            <option value="Осень">Осень</option>
                            <option value="Зима">Зима</option>
                        </select><br>
                        <label for="accommodation">Проживание:</label>
                        <select class="form-select" id="accommodation"
                                name="accommodation">
                            <option disabled hidden selected>Выберите вариант проживания</option>
                            <option value="В палатке">В палатке</option>
                            <option value="В доме">В доме</option>
                            <option value="В доме и в палатке">В доме и в палатке</option>
                        </select>
                        <span>{{ error }}</span>
                        <button id="create-route-btn" class="btn btn-success btn-lg mt-4" type="submit">Сгенерировать маршрут</button>
                    </form>
                </div>
                    
    </div>
    <div id="spinner-overlay" class="spinner-overlay">
        <div class="spinner" id="spinner"></div>
    </div>

</div>

<script>
    // Получаем ссылки на все необходимые поля ввода
        const levelOfHardnessInput = document.getElementById("level_of_hardness");
        const durationInput = document.getElementById("duration");
        const numberParticipantsInput = document.getElementById("number_participants");
        const seasonInput = document.getElementById("season");
        const accommodationInput = document.getElementById("accommodation");
        const generateRouteButton = document.getElementById("create-route-btn");

        // Функция для проверки, все ли поля заполнены
        function checkInputsFilled() {
            const levelOfHardness = levelOfHardnessInput.value;
            const duration = durationInput.value;
            const numberParticipants = numberParticipantsInput.value;
            const season = seasonInput.value;
            const accommodation = accommodationInput.value;
            // console.log("numberParticipants now", numberParticipants);
            // Проверяем, чтобы значения полей не были дефолтными
            if (
                levelOfHardness !== "Выберите уровень сложности" &&
                duration !== "Выберите продолжительность" &&
                numberParticipants !== "" &&
                season !== "Выберите сезон" &&
                accommodation !== "Выберите вариант проживания"
            ) {
                return true; // Все поля заполнены
            } else {
                return false; // Не все поля заполнены
            }
        }

        // Функция для установки состояния кнопки "Сгенерировать маршрут"
        function setGenerateRouteButtonState() {
            if (checkInputsFilled()) {
                generateRouteButton.disabled = false; // Кнопка становится активной
            } else {
                generateRouteButton.disabled = true; // Кнопка остается неактивной
            }
        }

        // Добавляем обработчики событий на изменение значений в полях ввода
        levelOfHardnessInput.addEventListener("input", setGenerateRouteButtonState);
        durationInput.addEventListener("input", setGenerateRouteButtonState);
        numberParticipantsInput.addEventListener("input", setGenerateRouteButtonState);
        seasonInput.addEventListener("input", setGenerateRouteButtonState);
        accommodationInput.addEventListener("input", setGenerateRouteButtonState);

        // При загрузке страницы также проверяем состояние кнопки
        setGenerateRouteButtonState();
</script>

<hr>
<footer class="container">
    &copy; Все права защищены 2024
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src='/static/js/main.js' type="text/javascript"></script>
<script>
    var points = {{ all_points|safe }}
</script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=616e0506-5ed7-42e4-87d2-595d4ed059a8" defer type="text/javascript"></script>
<script src="/static/js/maps.js" type="text/javascript" defer></script>


</body>
</html>
